{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-md-4 py-5">
        <h1 class="px-2">Connexion</h1>
        <form method="POST" class="px-2">
            {% csrf_token %}
            <div class="mb-3">
                {{ form|crispy }}
            </div>
            <div class="mb-3 text-end">
                <button class="btn btn-primary" type="submit">Se connecter</button>
            </div>
            
        </form>
        <p class="text-center mb-0">
            Pas encore de compte ? 
            <a class="link-secondary 
                    link-offset-3-hover 
                    link-underline 
                    link-underline-opacity-0 
                    link-underline-opacity-75-hover" 
                href="{% url 'django_registration_register' %}"
            >
                Créer un compte
            </a>
        </p>
        <p class="text-center">
            Mot de passe perdu ? 
            <a class="link-secondary 
                    link-offset-3-hover 
                    link-underline 
                    link-underline-opacity-0 
                    link-underline-opacity-75-hover" 
                href="{% url 'password_reset' %}"
            >
                Réinitialiser le mot de passe
            </a>
        </p>
    </div>
</div>
{% endblock %}