{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-md-4 py-5">
        <h1 class="px-2">Modifier mon mot de passe</h1>
        <form method="POST" class="px-2">
            {% csrf_token %}
            <div class="mb-3">
                {{ form|crispy }}
            </div>
            <div class="mb-3 text-end">
                <button class="btn btn-primary" type="submit">Valider</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}