{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block body %}
<div class="row d-flex justify-content-center">
    <div class="col-md-6 py-5">
        <h1 class="px-2">Message de réinitialisation du mot de passe envoyé</h1>
        <p>Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour autant qu’un compte existe avec l’adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.</p>
        <p>Si vous ne recevez pas de message, vérifiez que vous avez saisi l’adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de pourriels.</p>
        <a class="link-secondary 
        link-offset-3-hover 
        link-underline 
        link-underline-opacity-0 
        link-underline-opacity-75-hover" 
    href="{% url 'index' %}"
>
    Retour à la page d'accueil
</a>
    </div>
</div>
{% endblock %}