{% extends "business/business_base.html" %}
{% block body %}
{% load bootstrap_icons %}
<div class="mx-5 ms-5">
    <h1 class="m-3">Liste des devis</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Date de création</th>
                <th scope="col">Client</th>
                <th scope="col">Admin</th>
                <th scope="col">Mode de paiement</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for order in page_obj %}
            <tr>
                <th scope="row">{{ order.code }}</th>
                <td>{{ order.created_at }}</td>
                <td>{{ order.customer.first_name }} {{ order.customer.last_name|upper }}</td>
                <td>{{ order.user.username }}</td>
                <td>{{ order.payment_method }}</td>
                <td>#</td>
                <td><a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'detail_order' order.id %}">détails</a></td>
            </tr>
        {% endfor %}  
        </tbody>
    </table>
    <div class="pagination d-flex justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo;</a>
                <a href="?page={{ page_obj.previous_page_number }}">précédente</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">suivante</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}