{% extends "business/business_base.html" %}
{% load crispy_forms_filters %}
{% block body %}
<div class="m-5">
    <h1 class="m-5">Nouveau devis</h1>
    <div class="px-5 w-75">
        <form method="POST" class="mx-5 form-horizontal">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="{{ form.code.id_for_label }}" class="col-sm-3 col-form-label">{{ form.code.label }}</label>
                <div class="col-sm-9">
                    {{ form.code }}
                </div>
            </div>
            <div class="row mb-3">
                <label for="{{ form.customer.id_for_label }}" class="col-sm-3 col-form-label">{{ form.customer.label }}</label>
                <div class="col-sm-9">
                    {{ form.customer }}
                </div>
            </div>
            <div class="row mb-3">
                <label for="{{ form.payment_method.id_for_label }}" class="col-sm-3 col-form-label">{{ form.payment_method.label }}</label>
                <div class="col-sm-9">
                    {{ form.payment_method }}
                </div>
            </div>
            <div class="my-5 d-flex justify-content-between">
                <a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="javascript:window.history.back();">Retour</a>
                <button class="btn btn-link link-success link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" type="submit">Valider</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}